/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2015, 11:40:02 AM
    Author     : james
*/
div.e911 {
    /* padding-bottom: 2%; */
    /* margin-bottom: 2%; */
    padding-left: 2%;
    padding-right: 2%;
}
div.e911:after {
    content:"\000A";
    white-space: pre;
}
h2.e911 {
    text-align: center;
}
.vcenter2 {
    position: absolute;
    // top: 50%;
    transform: translateY(50%);
    // border: 1px dashed deeppink;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    // float: none;
}
.badbutton { 
    max-width:100%; 
    max-height:100%; 
    margin:auto; 
}
.vertical-alignOld {
    display: flex;
    align-items: center;
}
.vertical-align {
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    position: absolute;
}
.col-centered{
    float: block;
    margin: 0 auto;
}